@model IEnumerable<DemoRegAndLoginWithIdentity.Models.ServiceCenter>

@{
    ViewData["Title"] = "ViewCenter";
}

<h1>ViewCenter</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceCenterName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceCenterName)
            </td>
            <td>
                    <button class="btn btn-primary" type="submit" onclick="redirectToRegistration()">Send Confirmation</button>
            </td>
        </tr>
}
    </tbody>
</table>

<script>

    function redirectToRegistration() {
        window.open('https://www.gmail.com', '_blank');
    }

</script>
